body {
  overflow-x: hidden; /* 横向溢出时显示滚动条 */
  min-width: 100vw; /* 至少占满视口宽度 */
}
.revenue {
  display: flex !important;
  width: 260px;
  height: 90px;
  margin: 65px 0 0 43px;
  border-radius: 5px;
  background-color: white;
  align-content: center;
  font-size: unset !important;

  .revenue-icon {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    /* object-fit: contain;
  image-rendering: optimizeQuality; */
  }
  span {
    position: absolute;
    top: 90px;
    left: 125px;
    font-size: 14px !important;
  }
  p {
    position: absolute;
    top: 65px;
    left: 126px;
    font-weight: 700;
    font-size: 18px !important;
  }
}

.wallet {
  display: flex !important;
  width: 260px;
  height: 90px;
  margin: 55px 0 0 45px;
  border-radius: 5px;
  background-color: white;
  align-content: center;
  font-size: unset !important;
  .wallet-icon {
    width: 90px;
    height: 90px;
    margin-left: 10px;
    /* object-fit: contain;
  image-rendering: optimizeQuality; */
  }
  span {
    position: absolute;
    top: 90px;
    left: 450px;
    font-size: 14px !important;
  }
  p {
    position: absolute;
    top: 70px;
    left: 450px;
    font-weight: 700;
    font-size: 18px !important;
  }
}

.profit {
  display: flex !important;
  width: 260px;
  height: 90px;
  margin: 57px 0 0 45px;
  border-radius: 5px;
  background-color: white;
  align-content: center;
  font-size: unset !important;
  .profit-icon {
    width: 70px;

    height: 70px;
    margin-left: 10px;
  }
  span {
    position: absolute;
    top: 90px;
    left: 740px;
    font-size: 14px !important;
  }
  p {
    position: absolute;
    top: 70px;
    left: 740px;
    font-weight: 700;
    font-size: 18px !important;
  }
}
